### 1. Python question: Validate IPV4 address

In [30]:
ip_str = '172.16.254.1'

In [31]:
def validate_ip(input_str):
    if len(ip_str.split('.')) != 4:
        return False

    for element in ip_str.split('.'):
        #print(int(element))
        print(str(int(element)))
        if element != str(int(element)):
            return False

        if int(element) > -1 and int(element) < 256:
            pass
        else:
            return False
    return True

In [32]:
validate_ip(ip_str)

172
16
254
1

True

### 2. SQL question

CREATE TABLE orders (
  -- TODO:: create columns
'Customer ID' int,
'Order ID' int,
'Order Value' float,
'District' varchar,
'Date' datetime
);
-- insert some values
INSERT INTO orders VALUES (1351, 51539, 100023, 'Rewari', '2022-01-23');
INSERT INTO orders VALUES (1572, 52360, 3498, 'Hisar', '2021-10-02');
INSERT INTO orders VALUES (1572, 53512, 5670, 'Hisar', '2022-01-01');
INSERT INTO orders VALUES (1157, 50490, 2312, 'GTB', '2020-05-09');
INSERT INTO orders VALUES (1351, 56060, 200432, 'Rewari', '2021-03-07');
INSERT INTO orders VALUES (1463, 55285, 417542, 'Ahmedabad', '2022-02-26');
INSERT INTO orders VALUES (1969, 55556, 5353, 'GTB', '2020-10-23');
INSERT INTO orders VALUES (1351, 51268, 8731, 'Rewari', '2021-06-02');

select * from orders;

From the above SQL table, write a single SQL query to extract below columns:

#Customer ID , # Orders , Avg. Order Value, # Orders > 5K